<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.5" package="dbjorg.view" android:versionCode="5">
	<uses-sdk android:targetSdkVersion="10" android:minSdkVersion="10" />
	<application android:label="dbj();" android:icon="@drawable/icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>